.bikes {
  background-color: inherit;
  padding: 119px 120px 85px 0;
  box-sizing: content-box;
  display: block;
  &__header {
    margin-bottom: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 600px) {
      & {
        margin-bottom: 10px;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  &__title {
    margin: 0 0px 42px 0;
    padding: 0;
    @media screen and (max-width: 600px) {
      & {
        margin-bottom: 0;
        color: #151515;
      }
    }
  }
  &__slides {
    color: inherit;
    width: 100%;
    &_darkTheme {
      @media screen and (max-width: 600px) {
        & {
          color: #151515;
        }
      }
    }
  }
  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    max-width: 230px;
    height: 100%;
    visibility: visible;
    background-color: inherit;
    color: #222222;
    @include font(
      $family: "inter",
      $fontStyle: normal,
      $fontWeight: 600,
      $fontSize: 18px,
      $lineHeight: 128%,
      $letterSpacing: normal,
      $opacity: 1
    );
    @media screen and (max-width: 600px) {
      & {
        overflow: hidden;
        padding-top: 4px;
        padding-bottom: 4px;
        box-sizing: border-box;
        border: solid 1px #e3e3e3;
        border-radius: 4px;
        position: absolute;
        top: 7px;
        left: 6px;
        font-size: 11px;
        width: 50%;
        height: 26%;
        display: flex;
        visibility: visible;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0px;
        max-width: 250px;
        &::after {
          position: absolute;
          top: 6px;
          right: 0px;
          content: "";
          height: 7px;
          width: 14px;
          background-image: url("../images/mobile/chooseBike.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
        &_darkTheme {
          &::after {
            position: absolute;
            top: 6px;
            right: 0px;
            content: "";
            height: 7px;
            width: 14px;
            background-image: url("../images/mobile/chooseBikeDarkTheme.svg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
      &_opened {
        height: 75%;
      }
    }
    &_dark {
      color: #ffffff;
    }
    & > .swiper-pagination-bullet {
      background-color: inherit;
      height: 20px;
      width: auto;
      order: 1;
      opacity: 0.7;
      margin-left: 0;
    }
    &-container {
      z-index: 10;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      box-sizing: border-box;
      overflow: hidden;
      height: 30px;
      width: 250px;
      @media screen and (max-width: 600px) {
        & {
          height: 80px;
          border-bottom: solid 1px #e3e3e3;
          top: 40px;
          width: 105px;
        }
      }
      &_opened {
        visibility: visible;
        @media screen and (max-width: 600px) {
          & {
            height: 80px;
          }
        }
      }
    }

    & > .swiper-pagination-bullet-active {
      color: inherit;
      opacity: 1;
      @media screen and (max-width: 600px) {
        & {
          order: 0;
          visibility: visible;
        }
      }
    }
  }

  @media screen and (max-width: 1240px) {
    & {
      padding-right: 90px;
    }
  }
  @media screen and (max-width: 1040px) {
    & {
      padding-right: 60px;
    }
  }
  @media screen and (max-width: 840px) {
    & {
      padding-right: 30px;
    }
  }
  @media screen and (max-width: 600px) {
    & {
      padding-right: 0;
    }
  }
}
