.bike {
  width: 100%;

  &__card {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 20px;
    @media screen and (max-width: 600px) {
      & {
        background-color: $backgroundColor;
        box-shadow: -20px 60px 220px 0 rgba(0, 0, 0, 0.44);
      }
      &:hover {
        box-shadow: 0px 20px 140px 0 rgba(0, 0, 0, 0.11);
      }
    }
  }
  &__caption {
    margin: 22px 0 0;
    padding: 0;
    @include font(
      $fontWeight: 600,
      $fontSize: 18px,
      $lineHeight: 100%,
      $opacity: 1
    );
    &_darkTheme {
      color: #ffffff;
      @media screen and (max-width: 600px) {
        & {
          color: #151515;
        }
      }
    }
    @media screen and (max-width: 1000px) {
      & {
        font-size: 14px;
        line-height: 106%;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        padding-top: 6px;
        padding-bottom: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 106%;
        box-sizing: content-box;
      }
    }
  }
  &__image {
    box-shadow: -20px 60px 220px 0 rgba(0, 0, 0, 0.44);
    background-color: $backgroundColor;
    width: 100%;
    margin: 0px;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    &:hover {
      box-shadow: 0px 20px 140px 0 rgba(0, 0, 0, 0.11);
    }

    @media screen and (max-width: 1000px) {
      & {
        padding: 10px;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        box-shadow: none;
        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  &__link {
    cursor: pointer;
    // visibility: visible;
    color: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  & > .swiper-pagination-bullet-active {
    color: inherit;
    opacity: 1;
    @media screen and (max-width: 600px) {
      & {
        order: 0;
        visibility: visible;
      }
    }
  }
}
