.bike {
  width: 100%;

  &__card {
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }
  &__caption {
    margin: 0;
    padding: 0;
    text-align: center;
    // object-position: center;
    // object-fit: contain;

    @media screen and (max-width: 600px) {
      & {
         font-size: 14px;
      }
    }
  }
  &__image {
    background-color: #f4f4f4;
    width: 88%;
    margin: 0;
    padding: 20px;
    border-radius: 20px;
    box-sizing: content-box;
  }
  &__slide {
    width: auto;
    cursor: pointer;
    visibility: visible;
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  &__link {
    margin: 0;
    padding: 0;
  }
}
