.bikes {
  background-color: #f4f4f4;
  padding: 120px 120px 0 0;
  box-sizing: content-box;
  // width: 100%;
  @include display();

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__slides {
    width: 100%;
    overflow: hidden;
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 0;
    max-width: 250px;
    height: 28px;
    &:hover .swiper-pagination-bullet {
      visibility: visible;
      transition: 200ms;
    }
    & > .swiper-pagination-bullet {
      background-color: #f4f4f4;
      height: 20px;
      width: auto;
    }
    @media screen and (max-width: 600px) {
      & {
        flex-direction: column;
        height: auto;
      }
      & > .swiper-pagination-bullet {
        order: 1;
        visibility: hidden;
      }
      & > .swiper-pagination-bullet-active {
        @media screen and (max-width: 600px) {
          & {
            order: 0;
            visibility: visible;
          }
        }
      }
    }
  }

  &__slides-group {
    width: 100%;
  }
  @media screen and (max-width: 1240px) {
    & {
      padding-right: 90px;
    }
  }
  @media screen and (max-width: 1040px) {
    & {
      padding-right: 60px;
    }
  }
  @media screen and (max-width: 840px) {
    & {
      padding-right: 30px;
    }
  }
  @media screen and (max-width: 600px) {
    & {
      padding-right: 0;
    }
  }
}
