.header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  min-height: 74px;
  background-color: inherit;
  position: sticky;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
   @media screen and (max-width: 1100px) {
    & {
      padding-right: 90px;
    }
  }
  @media screen and (max-width: 800px) {
    & {
      padding-right: 45px;
    }
  }
  @media screen and (max-width: 600px) {
    & {
      padding: 0;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    margin: 38px auto;
    padding: 0;
    @media screen and (max-width: 600px) {
      & {
        margin-top: calc(38px - ((320px - 100vw) * 0.1));
      }
    }
  }
  
  &__list_desktop {
    flex-direction: row;
    align-items: center;
    // justify-content: flex-end;
    margin: 0;
    @media screen and (max-width: 600px) {
      & {
        display: none;
      }
    }
  }

  &__mobile {
    display: none;
    padding-bottom: 40px;
    width: 100%;
    @media screen and (max-width: 600px) {
      & {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__item-nav {
    margin-left: 34px;
    @media screen and (max-width: 600px) {
      & {
        margin: 32px auto 0;
      }
    }
  }
  &__nav {
    @include font(
      $fontWeight: 500,
      $fontSize: 14px,
      $lineHeight: 129%,
    );
    text-decoration: none;
    color: inherit;
    @media screen and (max-width: 600px) {
      & {
        font-size: calc(18px - ((320px - 100vw) * 0.041));
        line-height: 100%;
      }
    }
  }
  &__button {
    cursor: pointer;
    border: none;
    padding: 0;
    background-size: cover;
    object-position: center;
    background-image: url(../../../images/mobile/E.svg);
    background-color: transparent;
    display: none;
    width: 22px;
    height: 22px;
    &_darkTheme{
      background-image: url(../../../images/mobile/E-dark.svg);
    }
    @media screen and (max-width: 600px) {
      & {
        display: block;
        margin: 30px 20px 30px auto;
      }
    }
  }
  &__button_closed {
    display: none;
  }

  &__menu {
    height: calc(200vw - 40px);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_closed {
      display: none;
    }
  }
  &__button_menu {
    background-color: #F4F4F4;
    background-image: url(../../../images/mobile/X.svg);
  }
}

