.header {
  width: 100%;
  min-height: 74px;
  @include mp(0, 0, 0, 0, 28px 120px 28px 0);
  @include display($display: flex);
  @include color();
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
   @media screen and (max-width: 1100px) {
    & {
      padding-right: 90px;
    }
  }
  @media screen and (max-width: 800px) {
    & {
      padding-right: 45px;
    }
  }
  @media screen and (max-width: 600px) {
    & {
      padding: 0;
    }
  }
  &__list {
    list-style-type: none;
    margin: 38px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media screen and (max-width: 600px) {
      & {
        color: deeppink;
        margin-top: calc(38px - ((320px - 100vw) * 0.1));
      }
    }
  }
  }
  &__list_desktop {
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
    @media screen and (max-width: 600px) {
      & {
        display: none;
      }
    }
  }

  &__mobile {
    padding-bottom: 40px;
    display: none;
    width: 100%;
    // height: 100%;
    @media screen and (max-width: 600px) {
      & {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__item-nav {
    margin-left: 34px;
    @media screen and (max-width: 600px) {
      & {
        margin: 32px auto 0;
      }
    }
  }
  &__nav {
    text-decoration: none;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #151515;

    @media screen and (max-width: 600px) {
      & {
        font-size: calc(18px - ((320px - 100vw) * 0.041));
        line-height: 100%;
      }
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    padding: 0;
    background-size: cover;
    object-position: center;
    background-image: url(../../../images/mobile/E.svg);
    display: none;
    width: 22px;
    height: 22px;
    @media screen and (max-width: 600px) {
      & {
        display: block;
        margin: 30px 20px 30px auto;
      }
    }
  }
  &__button_opened {
  }
  &__button_closed {
    display: none;
  }

  &__menu {
    height: calc(200vw - 40px);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_closed {
      display: none;
    }
  }
  &__button_menu {
    background-image: url(../../../images/mobile/X.svg);
  }
}

// class="header__button header__button_opened header__button_closed"
