.header {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 74px;
  background-color: inherit;
  top: 0;
  z-index: 10;
  box-sizing: content-box;
  padding-right: 120px;
  @media screen and (max-width: 1100px) {
    & {
      padding-right: 90px;
    }
  }
  @media screen and (max-width: 800px) {
    & {
      padding-right: 45px;
    }
  }
  @media screen and (max-width: 600px) {
    & {
      align-items: center;
      padding: 0;
      justify-content: flex-start;
    }
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    @media screen and (max-width: 600px) {
      & {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        list-style-type: none;
        margin: 70px auto;
        padding: 0;
      }
    }
  }
  &__item-nav {
    margin-left: 34px;
    @media screen and (max-width: 600px) {
      & {
        margin: 32px auto 0;
      }
    }
    &:hover {
      opacity: 0.75;
    }
  }
  &__link {
    @include font($fontWeight: 500, $fontSize: 14px, $lineHeight: 129%);
    text-decoration: none;
    color: inherit;
    @media screen and (max-width: 600px) {
      & {
        font-size: calc(18px - ((320px - 100vw) * 0.041));
        line-height: 100%;
      }
    }
  }
  &__button {
    display: none;
    cursor: pointer;
    border: none;
    padding: 0;
    background-size: cover;
    object-position: center;
    background-color: transparent;
    display: none;
    width: 22px;
    height: 22px;
    &_openedMenu_lightTheme {
      background-image: url(../images/mobile/E.svg);
    }
    &_closedMenu_lightTheme {
      background-color: #f4f4f4;
      background-image: url(../images/mobile/X.svg);
    }
    &_openedMenu_darkTheme {
      background-image: url(../images/mobile/E-dark.svg);
    }
    &_closedMenu_darkTheme {
      background-color: #f4f4f4;
      background-image: url(../images/mobile/X.svg);
    }
    @media screen and (max-width: 600px) {
      & {
        display: block;
        margin: 30px 20px 30px auto;
      }
    }
    &_mobile_closed {
      display: none;
    }
  }
  &__nav {
    margin: 0;
    padding: 0;

    @media screen and (max-width: 600px) {
      & {
        height: calc(200vw - 122px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
      }
       &_menu_closed {
      display: none;
    }
    }
   
  }
}
