.intro1-text {
    display: block;
    letter-spacing: normal;
  
    &__title {
        display: block;
      @include font(
        $family: "inter",
        $fontStyle: normal,
        $fontWeight: 700,
        $fontSize: 55px,
        $lineHeight: 60px,
        $letterSpacing: -0.5px
      );
    }
  
    &__your-choice {
        display: block;
      @include font(
        $family: "inter",
        $fontStyle: normal,
        $fontWeight: 400,
        $fontSize: 18px,
        $lineHeight: 28px,
        $collorText: #222222,
        $opacity: 0.7
      );
    }
    &__more-detailed-button {
        display: block;
      @include font(
        $family: "inter",
        $fontStyle: normal,
        $fontWeight: 600,
        $fontSize: 14px,
        $lineHeight: 18px,
        $letterSpacing: 1px,
        $collorText: #ffffff
      );
    }
    &__bike-name {
        display: block;
      @include font(
        $family: "inter",
        $fontStyle: normal,
        $fontWeight: 400,
        $fontSize: 18px,
        $lineHeight: 18px,
      );
    }
  
  }
  