.intro {
  position: relative;
  display: grid;
  justify-content: flex-end;
  grid-template-columns: 43% 47%;
  grid-template-rows: 20% 30% 10% 40%;
  grid-row-gap: 0;
  grid-column-gap: 10%;
  grid-template-areas:
    "title image"
    "your-choice image"
    "more-detailed-button image"
    "bike-name image";
  margin: 0;
  padding: 20px 0 0 0;
  max-width: 1440px;
  @media screen and (max-width: 600px) {
    & {
      grid-column-gap: 0;
      grid-template-columns: 100%;
       grid-template-rows: 20% 50% 20% 10%;
      grid-template-areas:
        "title"
        "image"
        "your-choice"
        "more-detailed-button";
    }
  }
  &__title {
    height: 100%;
    max-width: 460px;
    margin: 50px 0 0 0;
    grid-area: title;
    display: inline-block;
    @media screen and (max-width: 1230px) {
      & {
        max-width: 360px;
      }
    }
    @media screen and (max-width: 930px) {
      & {
        margin-top: 20px;
      }
    }
    @media screen and (max-width: 700px) {
      & {
        margin-top: 10px;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        max-width: 300px;
      }
    }
  }

  &__description {
    // display: flex;
    // height: 100%;
    @include font(
      $family: "inter",
      $fontStyle: normal,
      $fontWeight: 400,
      $fontSize: (
        calc(18px - ((1440px - 100vw) * 0.009)),
      ),
      $lineHeight: 128%,
      $collorText: #111111,
      $opacity: 0.7
    );
    max-width: 400px;
    align-self: center;
    margin: 0px 0 0 0;
    grid-area: your-choice;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (max-width: 1100px) {
      & {
        max-width: 350px;
      }
    }
    @media screen and (max-width: 900px) {
      & {
        max-width: 300px;
      }
    }
  }
  &__line {
    color: #d7d4d4;
    @media screen and (max-width: 1000px) {
      & {
        max-width: 5%;
      }
    }
  }
  &__overlay {
    grid-area: image;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    visibility: hidden;
    opacity: 1;
  }

  &__bike-fix {
    width: (calc(340px - ((1440px - 100vw) * 0.2)));
    background-color: $backgroundColor;
    visibility: visible;
    z-index: 1;
    top: 300px;
    position: sticky;
    margin-bottom: 79px;
    margin-top: 200px;
    border-radius: 20px;
    padding: 20px 50px;
    box-shadow: -20px 60px 220px 20px rgba(0, 0, 0, 0.44);
    align-self: center;
    box-sizing: content-box;
    max-width: 340px;
    transform: translateX(-150px);
    @media screen and (max-width: 1030px) {
      & {
        transform: translateX(-100px);

        top: 200px;
        margin-bottom: 59px;
        margin-top: 150px;
      }
    }
    @media screen and (max-width: 850px) {
      & {
        padding: 10px 26px;
        transform: translateX(-50px);
        top: 150px;
        margin-bottom: 39px;
        margin-top: 100px;
      }
    }
    @media screen and (max-width: 650px) {
      & {
        transform: translateX(-20px);
        top: 100px;
        margin-bottom: 19px;
        margin-top: 50px;
      }
    }
    @media screen and (max-width: 600px) {
      & {
    
        min-width: 147px;
        transform: translateX(-10px);
        top: 100px;
        margin-left: 10px;
        margin-bottom: 19px;
        margin-top: 50px;
      }
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    // width: (calc(610px - ((1440px - 100vw) * 0.32)));
    justify-self: end;
    align-self: end;
    grid-area: image;
    max-width: 610px;
    @media screen and (max-width: 600px) {
      & {
       width: 90%;
      }
    }
  }
  // @media screen and (min-width: 1440px) {
  //   &__image {
  //     width: 610px;
  //   }
  // }

  &__more-detailed-button {
    // margin-top: 50px;
    grid-area: more-detailed-button;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    width: 180px;
    height: 50px;
    text-decoration: none;
    background-color: #24b47e;
    cursor: pointer;
    border-radius: 4px;

    @include font(
      $family: "inter",
      $fontStyle: normal,
      $fontWeight: 600,
      $fontSize: 14px,
      $lineHeight: 18px,
      $letterSpacing: 1px,
      $collorText: #ffffff
    );
    @media screen and (max-width: 1000px) {
      & {
        font-size: 13px;
        line-height: 19px;
      }
    }
    @media screen and (max-width: 450px) {
      & {
       width: 100%;
      }
    }
  }
  &__bike-name {
    // max-width: 300px;
    margin: 167px 0 auto 0;
    grid-area: bike-name;
    display: block;
    @include font(
      $family: "inter",
      $fontStyle: normal,
      $fontWeight: 400,
      $fontSize: 18px,
      $lineHeight: 18px
    );
    @media screen and (max-width: 1000px) {
      & {
        font-size: 16px;
        line-height: 16px;
        overflow: hidden;
        margin: auto 0;
      }
    }
  }
}

.title {
  @include font(
    $family: "inter",
    $fontStyle: normal,
    $fontWeight: 700,
    $fontSize: (
      calc(55px - ((1440px - 100vw) * 0.031)),
    ),
    $lineHeight: 109%,
    $letterSpacing: -0.5px
  );
  @media screen and (min-width: 1440px) {
    & {
      font-size: 55px;
    }
  }
  @media screen and (max-width: 600px) {
    & {
      font-size: calc(32px - ((320px - 100vw) * 0.041));
      line-height: 125%;
    }
  }
}
