.slides {
  &__swiper-pagination {
    display: flex;
    margin: 0;
    & > .swiper-pagination-bullet {
      height: 4px;
      width: 4px;
      margin-left: 4px;
      margin-right: 4px;
      color: rgb(142, 165, 42);
      background-color: #151515;
      &_darkTheme {
        background-color: #ffffff;
      }
    }
  }
  @media screen and (max-width: 900px) {
    &__swiper-pagination {
      margin-top: 27px;
      justify-content: center;
      height: 5px;
    }
  }
}
