.surfaceAndGradients {
  
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-areas:
    "slide"
    "button";
  margin: 0;
  padding: 60px 0 0 0;

  width: 100%;
  //   @include mp();
  //   @include display();
  @include color();

  @media screen and (max-width: 600px) {
    & {
    border-top: #E3E3E3 1px solid;
    padding-top: 40px;
    margin-top: 40px;
    }}

  &__slide {
    grid-area: slide;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-row-gap: 0;
    grid-column-gap: 0;
    grid-template-areas:
      "title"
      "description"
      "image";
    // "button";
    @media screen and (max-width: 600px) {
      & {
        grid-template-areas:
          "title"
          "image"
          "description";
          grid-row-gap: 40px;
      }
    }
  }

  &__image {
    grid-area: image;
    margin: 0;
    padding: 0;
    width: 100%;
    object-position: center;
    object-fit: cover;

  }
  &__slides {
    display: block;
    grid-area: slide;
  }

  &__slide-text {
    grid-area: description;

    .swiper-slide-active > & {
      visibility: visible;
    }
    visibility: hidden;
    overflow: hidden;
    text-overflow:ellipsis;
    margin: 40px 0 80px;
    max-width: 460px;
    @media screen and (max-width: 600px) {
      & {
      margin: 0;
      max-width: 100%;
      max-height: 90px;
      }
    }
  }

  &__slide-title {
    grid-area: title;
    .swiper-slide-active > & {
      visibility: visible;
    }
    visibility: hidden;
    margin: 0px 0 10px 0;
    width: 25%;
  }
  &__container-button-slide {
    margin-top: 50px;
    grid-area: button;
    height: 50px;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
      & {
        position: absolute;
        top: 40px;
        right: 0px;
        grid-area: title;
        margin-top: 0px;
        margin-right: 0px;
        height: 24px;
        width: 58px;
      }
    }
  }
  &__button-slide {
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    border: 17px solid #ebebeb;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #ebebeb;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    @media screen and (max-width: 600px) {
      & {
        border: 7px solid #ebebeb;
        width: 24px;
        height: 24px;
      }
    }
    &_next {
      background-image: url("../images/button/button-slide-next.svg");
    }

    &_prev {
      background-image: url("../images/button/button-slide-prev.svg");
      object-position: center;
    }
  }
}
