

@mixin font(
  $family: "inter",
  $fontStyle: normal,
  $fontWeight: 400,
  $fontSize: 8px,
  $lineHeight: 110%,
  $letterSpacing: normal,
  $opacity: 1
) {
  font-family: $family, "Arial", sans-serif;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  opacity: $opacity;
}
